/* BOX MODEL
All HTML elements live within a box. Elements on a web page are understood by the browser as "living" inside of a container, or a box */

/* FIND ALL BOX ELEMENTS */

* { 
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* WIDHT AND HEIGHT
- The dimensions of an element's box are default. These default dimensions are automatically set to hold the raw contents of the box.  */
/* modify the dimension by pixels, Ems or percentages
--> ems and percentages allow boxes to scale depending on the size of a user's display */
/* helps Responsive web design (is an approach to web design aimed at allowing desktop webpages to be viewed in response to the size of the screen or web browser one is viewing with) */

height: 320px;
width: 90%;

/* MIN-WDTH and MAX-WIDTH
- describes the borders of an element's box 
Content, like text, can become difficult to read when a browser window is narrowed or expanded. These two properties ensure that content is legible by limiting the minimum and maximum widths of an element*/


p {
  min-width: 300px;
  max-width: 600px;
}

/* MIN-HEIGHT AND MAX-HEIGHT

- min-height - this property ensures a minimum height for an element's box.
- max-height - this property ensures a maximum height for an element's box.
*/

p { 
  min-height: 150px; 
  max-height: 300px; 
  }

    
/* OVERFLOW    
- describes the content within an element's box
- property controls what happens to content when it spills, or overflows, outside of its box. It can be set to one of the following values:

    hidden - when set to this value, any content that overflows be hidden from view.
    scroll - when set to this value, a scrollbar will be added to the element's box so that the rest of the content can be viewed by scrolling. */

p { 
  min-width: 300px; 
  max-width: 600px; 
  min-height: 150px; 
  max-height: 300px; 
  overflow: scroll; 
  }
   
   


