/* BORDER STYLE
-It's not possible to view a box's border if the border's style has not been set:

    solid - border is a solid line.
    dashed - border is a series of lines or dashes.
    dotted - border is a series of square dots.
    double - border is two solid black lines.
    groove - border is a groove (or carving).
    inset - border appears to cut into the screen.
    outset - border appears to pop out of the screen.
    ridge - border appears as a picture frame.
    hidden or none - no border */
    
div {
  border-style: solid;
}

/* BORDER WIDTH
- You can control the thickness, or width, of borders with the border-width property. The value of border-width is given in pixels
*/
p {
  border-style: solid;
  border-width: 5px;
}
/* It's also possible to also set the border-width property to one of the following named thicknesses:

    thin
    medium
    thick
but it's not often used cause it's valid*/


/* BORDER WIDTH 2
border-width property allows you to specify the width for each side of the border.
*/
p {
 border-style: solid; 
 border-width: 3px 1px 2px 1px; 
 /*clockwise order (top: 3 pixels, right: 1 pixel, bottom: 2 pixels, left: 1 pixel)*/
 }
 
 
/* BORDER WIDHT 3
If you'd like to be even more specific about the width of different sides of the border, you can use the following properties:

    border-top-width
    border-right-width
    border-bottom-width
    border-left-width
*/
p {
  border-style: solid;
  border-left-width: 4px;
}


/* BORDER COLOR 
accepts colors in the various formats you learned about earlier: named colors, RGB(a) colors, and hex colors. It's common to use hex colors for borders, but you'll likely also come across RGB(a) colors as well*/
div.container {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(22, 77, 100);
}


/*SHORTHAND
- instead of using the styling border elements separetely we can use it all together by using shorthand */
div.container { 
  border-style: solid; 
  border-width: 3px; 
  border-color: rgb(22, 77, 100); 
}

/*The code in the example above can be shortened using the border property:
*/
div.container { 
  border: 3px solid rgb(22, 77, 100); 
}
/* border property includes all of the properties that we previously styled individually: width, style, and color */


/* BORDER RADIUS
The corners of an element's border box can be modified with the border-radius property */

div.container {
  border: 3px solid rgb(22, 77, 100);
  border-radius: 5px;  /* will set all four corners of the border to a radius of 5 pixels */
}

/*You can create a border that is a perfect circle by setting the radius equal to the height of the box, or to 100%.
*/
div.container { 
  height: 60px; 
  width: 60px; 
  border: 3px solid rgb(22, 77, 100); 
  border-radius: 100%; 
  }

