/*------ Why Fonts Matter ------*/

/*------USE FONT-FAMILY--------*/
/*---- a chosen font must be installed on a user's computer ----*/
/* ---- don't use more than 2 - 3 fonts for a website ------*/
/* ---- The default typeface for all HTML elements is Times New Roman --- */
h1 {
  font-family: Garamond;
}
/*-----use "" for fonts with more than one word ---*/
h1 {
  font-family: "Courier New";
}

/*------- FALLBACK FONTS -------*/
/* ------ basic pre-installed fonts are serif and sans-serif types ----*/
/* ---- if a used font is not installed on the user's pc, declare alternate (fallback) fonts ----*/
h1 {
  font-family: Garamond, Times, serif;
}


/* ----- USE UNINSTALLED FONTS -----*/
/* --- using uninstalled fonts it's possible to link to a site where the fonts are hosted ---*/
/* --- find free fonts on https://fonts.google.com/ ---*/

<head> /* in HTML */
<link href="https://fonts.googleapis.com/css?family=Raleway" type="text/css" rel="stylesheet" > </head>

h1 {
  font-family: Raleway, Georgia, serif; /* in Css */
}

/*-------- FONT SIZE --------*/
/*--- To change the size of text on your web page ----*/
/*---- default size of text in web browsers is 16 pixels ---*/
p {
  font-size: 18px;
}

/*------ LINE HEIGHT ------*/
/*---- it's increases the space between the text lines ----*/
p {
  line-height: 1.5em;
}

/*------ WORD-SPACING -------*/
/*------ increases spacing between words ------*/
/*---- default amount of spacing between words is usually 0.25em ----*/
h1 {
  word-spacing: 0.3em;
}

/*------LETTER-SPACING ------*/
/*---- increases spacing between letters , also known as 'kerning' ------*/
h1 {
  letter-spacing: 0.3em;
}

/*----- BOLDED TEXT -----*/
/*--- Font weights can be set to 100 (thin), 200, 300, 400 (normal weight), 500, 600, 700, 800, or 900 (bold)---*/
/* -- normal weight is possible --*/
p {
  font-weight: bold; /* all paragraphs appear in bold*/
}

/*------- ITALIC TEXT -----*/
/* -- normal weight is possible --*/
h3 {
  font-style: italic;
}

/*------- LETTER CASE ------*/
/* transform text into uppercase or lowercase ------*/
h1 {
  text-transform: uppercase;
}

/*--------TEXT-ALIGN PROPERTY------*/
/*-----
    left - aligns text to the left hand side of the browser.
    center - centers text.
    right - aligns text to the right hand side of the browser.-----*/

h1 {
  text-align: right;
}
