/*CSS-Farben nutzen*/

/* 147 named colors in Css
--> http://www.colors.commutercreative.com/grid/*/

/*two properties:
    color - this property styles an element's foreground color.
    background-color - this property styles an element's background color*/
  h1 {
      color: Red;
      background-color: Blue;
    }


/*---------using colors with RGB-Code-----*/
/*------combinations possible between 0 - 255-----*/
/*--showing combination: https://color.adobe.com/de/create/color-wheel/ --*/
h1 {
  color: rgb(123, 20, 233);
  background-color: rgb(99, 21, 127);
}


/*---------hexadecimal color codes----------*/
/*-------offers 16,777,216 color options---------*/
/*------each group of two characters responds to a value for red, green and blue------*/
h1 {
  color: #09AA34;
}

h1 {
  color: #FFFFFF;
  color: #FFF; /* This is the same color as above */
}

h2 {
  color: #AA33BB;
  color: #A3B; /* This is the same color as above */
}


/*--------HSL colors are close to rgb-------*/
/*----SL stands for Hue, Saturation, and Lightness-------*/
/*---hue is represented on a color wheel. It can take on values between 0 and 360--*/
/*---Saturation - the amount of gray in a given color, between 0% - 100% ---*/
/*---Lightness - the amount of white in a given color, 0% is black, 100% is white, 50% is normal ---*/
h1 {
  color: hsl(182, 20%, 50%);
}


/*---------Opacity in RGB-colors----------*/
/*----alpha value can be a number between 0 or 1, inclusive ----*/
/* -- 1 is normal, < 1 reduces the normal opacity --*/
h1 {
  color: rgba(123, 88, 9, 0.5);
}

h1 {
  color: hsla(239, 45%, 22%, 0.4);
}


/*-------multiple CSS color declarations --------*/
/*---- just in case a user's browser can't support a certain declaration -----*/
h1 {
  color: rgb(22, 34, 88);
  color: rgba(22, 34, 88, 0.4);
}
