/* ID'S, CLASSES AND DIV'S */
/*
    Code is a lot more readable when it is organized using IDs, classes, and divs.
    IDs label HTML elements that are unique to the web page (an element that appears only once).
    Classes label elements that will share the same styling. They make styling more efficient.
    The <div> groups elements together. It makes the HTML file easier to read by organizing the web page into logical sections.
    HTML elements can be labeled with multiple classes.
    Divs are one of the most commonly used HTML elements. Understanding how they are used is a critical skill for web developers.
*/

/* IDs
style specific element with an unique identifier in html */
<h1 id="botswana">Botswana</h1>

/* then use an ID SELECTOR to style the specific ID in css */
#botswana {  /* octothorpe character is necessary, no space after it!*/
  background-color: #56ABFF;
}


/* CLASSES
- For multiple elements that should share the same styling, more common than ID
- in html define:*/
<h1 class="science">Scientist Discovers Important Cure</h1>
<h1 class="science">New Study Reveals The Importance of Sleep</h1>

/* then use the CLASS SELECTOR in the stylesheet css*/
.science {  // period character is necessary, no space after it!
  font-family: Georgia, Times, serif;
  color: #A3B4C5;
  text-transform: uppercase;
}

/*SPECIFY SELECTED CLASS
The .breaking selector targets all elements with a class of breaking.
The p.breaking selector targets only <p> elements with a class of breaking
This type of selector allows you to be even more specific about a particular element's styling,
even when that element must share some styling with other elements. */
.breaking {
  font-family: Georgia, Times, serif;
}

p.breaking {
  line-height: 1.3em;
}

/* STYLE MULTIPLE CLASSES AT ONCE */
.first, .last {
  font-size: 20px;
}

/* DIV FROM HTLM <div> */
/* You can think of the div as a box, or container, that groups elements that belong together
- is used for: Keep HTML code easy to read.
              Group elements that belong together */
/* For example, a <div> can be used to group together all of the elements that make up the navigation for a web page, or any other section of a page */
/* in html we write */
<div> <h1>Alice In Wonderland</h1> <p> ... </p> </div>

/* When a div is styled, all elements inside of the div will inherit the styling applied to the div *
/* example */
<div class="container">
 <h1 class="title">Alice In Wonderland</h1>
 <p> ... </p>
</div>

div.container {
  background-color: rgb(252, 255, 205);
  font-family: Roboto, Helvetica, sans-serif;
   }

   h1.title {
      color: #0D1A2F;
    }
